navbar {
background-color: white;
border-top: 1px solid black;
position: fixed;
left: 0px;
bottom: 0px;
right: 0px;
width: 100%;
height: 9vh;
color: black;
font-weight: bold;
line-height: 8vh;
text-align: center;
font-size: 5vh;
z-index: 2;
}
body {
font-family: Arial;
z-index: 0;
font-size: 4vh;
}
navbutton {
position: fixed;
top: 2.5%;
left: 4.5vw;
z-index: 0;
font-size: 3vh;
height: 6vh;
}
a {
color: black;
text-decoration: none;
}
navmenu#visible {
position: fixed;
top: 8vh;
left:0px;
right: 0px;
z-index: 5;
background-color: white;
color: black;
font-weight: bold;
line-height: 23vh;
text-align: center;
font-size: 15vh;
visibility: visible;
}
navmenu {
z-index: -1;
position: fixed;
visibility: hidden;
}
navop {
display: block;
border-bottom: 0.5px solid gray;
}
td {
text-align: center;
}
topchan {
position: fixed;
top: 10vh;
left: 4.5vw;
right: 5vw;
bottom: 10vh;
overflow-y: auto;
}
chanhead {
display: block;
font-weight: bold;
font-size: 5vh;
margin-bottom: 2.5vh;
}
chantab {
display: block;
position: relative;
height: 10vh;
line-height: 10vh;
margin-bottom: 5vh;
}
chantext {
position: relative;
top: -7vh;
left: 2vw;
font-size: 3vh;
}
npbg#visible {
background-color: white;
position: fixed;
left: 0vw;
right: 0vw;
top: 0vh;
bottom: 0vh;
z-index: 0;
text-align: center;
filter: blur(50px);
opacity: .5;
visibility: visible;
}
npimg#visible {
position: fixed;
top: 15vh;
height: 40vh;
width: 100vw;
text-align: center;
left: 0px;
z-index: 1;
visibility: visible;
}
nptitle#visible {
position: fixed;
top: 60vh;
width: 100vw;
text-align: center;
left: 0px;
font-weight: bold;
font-size: 5vh;
z-index: 1;
visibility: visible;
}
npc#visible {
position: fixed;
bottom: 13vh;
width: 100vw;
text-align: center;
left: 0px;
font-weight: bold;
font-size: 5vw;
z-index: 1;
visibility: visible;
}
npbg {
z-index: -1;
position: fixed;
visibility: hidden;
}
npimg {
z-index: -1;
position: fixed;
visibility: hidden;
}
nptitle {
z-index: -1;
position: fixed;
visibility: hidden;
}
npc {
z-index: -1;
position: fixed;
visibility: hidden;
}
playerspace {
position: fixed;
z-index: -2;
visibility: hidden;
}
img {
height: 100%;
max-width: 100%;
}
img#icon {
position: relative;
bottom: 0px;
max-height: 6vh;
padding-right: 13vw;
padding-bottom: 1.5vh;
padding-top: 1.5vh;
z-index: 5;
}
img#icon2 {
position: relative;
max-height: 8vh;
padding-right: auto;
padding-left: auto;
padding-bottom: 1.5vh;
padding-top: 1.5vh;
}
fauximg {
display: inline;
width: 100%;
background-color: pink;
}
input {
border: none;
border-bottom: 1px solid black;
width: 100%;
font-size: 3vh;
margin-bottom: 5vh;
}
input:focus {
border: none;
border-bottom: 1px solid black;
outline: none;
}
navcenter {
letter-spacing: 20vw;
text-align: center;
position:relative;
left: 4vw;
}
