img#msg {
width: 20vw;
height: auto;
margin-left: 40vw;
margin-right: 40vw;
}
msgspace {
background-color: gray;
position: fixed;
top: 200vh;
z-index: -1;
}
msgspace#visible {
background-color: white;
position: fixed;
width: 100vw;
height: 100vh;
left: 0vw;
bottom: 8vh;
right: 0vw;
z-index: 5;
top: 0px;
}
#vol2 {
position: absolute;
width: 50vw;
left: 24vw;
background: black;
height: 0.5vh;
}

p#msg {
font-size: 2.5vw;
text-align: center;
}
coolbutton {
font-size: 2.5vw;
color: white;
background-color: blue;
text-align: center;
border-radius: 3vh;
padding-top: 2vh;
padding-bottom: 2vh;
margin-top: 4vh;
position: relative;
top: 3vh;
padding-left: 4vw;
padding-right: 4vw;
margin-left: 4vw;
margin-right: 4vw;
}
h2#msg {
text-align: center;
font-size: 4vw;
}
msg {
top: 50%;
transform: translateY(-50%);
position: absolute;
}
navbar {
background-color: white;
border-top: 1px solid black;
position: fixed;
left: 0px;
bottom: 0px;
right: 0px;
width: 100%;
height: 9vh;
color: black;
font-weight: bold;
line-height: 8vh;
text-align: center;
font-size: 5vh;
z-index: 2;
}
body {
font-family: Arial;
z-index: 0;
font-size: 4vh;
}
navbutton {
position: fixed;
top: 2.5%;
left: 4.5vw;
z-index: 0;
font-size: 3vh;
height: 6vh;
}
navbutton2 {
position: fixed;
top: 2.5%;
right: 5vw;
z-index: 0;
font-size: 3vh;
height: 6vh;
}
a {
color: black;
text-decoration: none;
}
navmenu#visible {
position: fixed;
top: 8vh;
left:0px;
right: 0px;
z-index: 5;
background-color: white;
color: black;
font-weight: bold;
line-height: 23vh;
text-align: center;
font-size: 15vh;
visibility: visible;
}
navmenu {
z-index: -1;
position: fixed;
visibility: hidden;
}
navop {
display: block;
border-bottom: 0.5px solid gray;
}
td {
text-align: center;
}
topchan {
position: fixed;
top: 10vh;
left: 4.5vw;
right: 5vw;
bottom: 10vh;
overflow-y: scroll;
}
chanhead#new {
display: inline-block;
font-weight: bold;
font-size: 5vh;
margin-bottom: 2.5vh;
background-color: skyblue;
width: 18vw;
text-overflow: ellipsis;
overflow-wrap: break-word;
height: 15vh;
margin-right: 2.3vw;
overflow: hidden;
}
chanhead {
display: block;
font-weight: bold;
font-size: 5vh;
margin-bottom: 2.5vh;
}
chanhead2 {
display: block;
font-weight: bold;
font-size: 2.5vh;
margin-bottom: 1.25vh;
position: relative;
top: 3vh;
}
chantab {
display: inline-block;
position: relative;
height: 25vh;
line-height: 4vh;
margin-bottom: 10vh;
width: 20vh;
left: -4vw;
margin-left: 4.9vw;
margin-top: 3vh;
}
chantab2 {
position: relative;
left: -2vw;
top: 2vh;
}
chantext {
position: relative;
display: inline-flex;
font-size: 3vh;
top: 1vh;
width: 18vh;
justify-content: center;
text-align: center;
}
#c_icon {
width: 18vh;
height: 18vh;
}
chanrow {
position: relative;
top: 2.5vh;
display: grid;
grid-auto-flow: row;
grid-template-columns: repeat(auto-fill, minmax(18vh, 1fr));
height: 40vh;
overflow: hidden;
}
chanrow2 {
position: relative;
top: 2.5vh;
display: grid;
grid-auto-flow: row;
grid-template-columns: repeat(auto-fill, minmax(18vh, 1fr));
overflow: hidden;
}
chantext2 {
position: relative;
top: 0vh;
left: 2vw;
font-size: 3vh;
line-height: 0vh;
display: flex;
}
chantext3 {
position: relative;
top: -3.5vh;
left: 2vw;
font-size: 3vh;
color: gray;
line-height: 6vh;
}
npbg#visible {
background-color: white;
position: fixed;
left: 0vw;
right: 0vw;
top: 0vh;
bottom: 0vh;
z-index: 0;
text-align: center;
filter: blur(50px);
opacity: .5;
visibility: visible;
}
npimg#visible {
position: fixed;
top: 15vh;
height: 40vh;
width: 100vw;
text-align: center;
left: 0px;
z-index: 1;
visibility: visible;
}
nptitle#visible {
position: fixed;
top: 60vh;
width: 100vw;
text-align: center;
left: 0px;
font-weight: bold;
font-size: 5vh;
z-index: 1;
visibility: visible;
}
npc#visible {
position: fixed;
bottom: 13vh;
width: 100vw;
text-align: center;
left: 0px;
font-weight: bold;
font-size: 5vw;
z-index: 1;
visibility: visible;
}
npbg {
z-index: -1;
position: fixed;
visibility: hidden;
}
npimg {
z-index: -1;
position: fixed;
visibility: hidden;
}
nptitle {
z-index: -1;
position: fixed;
visibility: hidden;
}
npc {
z-index: -1;
position: fixed;
visibility: hidden;
}
playerspace {
position: fixed;
z-index: -2;
visibility: hidden;
}
img {
height: 100%;
max-width: 100%;
}
img#icon {
position: relative;
bottom: 0px;
max-height: 6vh;
padding-right: 7vw;
padding-bottom: 1.5vh;
padding-top: 1.5vh;
z-index: 5;
}
img#icon2 {
position: relative;
left: 2.5vw;
max-height: 8vh;
padding-right: 7vw;
padding-left: 3vw;
padding-bottom: 1.5vh;
padding-top: 1.5vh;
}
fauximg {
display: inline;
width: 100%;
background-color: pink;
}
input {
border: none;
border-bottom: 1px solid black;
width: 100%;
font-size: 3vh;
margin-bottom: 5vh;
}
input:focus {
border: none;
border-bottom: 1px solid black;
outline: none;
}
navcenter {
letter-spacing: 20vw;
text-align: center;
position:relative;
left: 4vw;
}
img#close {
position: absolute;
top: -43vh;
left: 3vh;
width: 6vw;
}
#npicon {
height: 2vh;
}
#vol {
position: absolute;
width: 50vw;
left: 25vw;
bottom: -6.75vh;
background: black;
height: 0.5vh;
}
input::-moz-range-thumb {
width: 3vh;
height: 3vh;
background: #000000;
color: #000000;
cursor: pointer;
border-radius: 100%;
outline: none;
border: black;
background: black;
z-index: 10;
}
menuspace {
position: fixed;
top: 500vh;
}
menuspace#show {
position: fixed;
top: 0vh;
bottom: 9vh;
left: 0vw;
right: 0vw;
z-index: 6;
background-color: rgba(0, 0, 0, .5);
}
menuitems {
position: fixed;
left: 0px;
right: 0px;
height: auto;
background-color: white;
bottom: 9vh;
}
img#menu {
position: relative;
top: 1vh;
width: 5vh;
height: 5vh;
margin-left: 1vw;
margin-right: 1vw;
}
menuitem {
display: block;
position: relative;
left: 2vw;
right: 2vw;
margin-top: 1vh;
margin-bottom: 1vh;
}
encased1#show {
background-color: blue;
position: fixed;
left: 0px;
top: 0px;
right: 0px;
bottom: 0px;
z-index: 5;
}
encased1 {
position: fixed;
left: 10000vw;
}
bigwords {
color: fuchsia;
font-weight: bold;
font-size: 12vw;
}
midwords {
color: fuchsia;
font-weight: bold;
font-size: 7vw;
width: 60vw;
display: block;
position: relative;
left: 5vw;
top: 10vh;
}
mid_desc {
color: fuchsia;
font-weight: bold;
font-size: 3vh;
width: 50vw;
display: block;
position: relative;
left: 5vw;
top: 15vh;
line-height: 2;
}
#en_photo {
max-width: 100%;
position: fixed;
left: 60vw;
height: 50vh;
}
widewords {
color: fuchsia;
font-weight: bold;
font-size: 5.5vw;
position: fixed;
left: 5vw;
right: 5vw;
width: 90vw;
text-align: center;
top: 10vh;
}
wide_desc {
color: fuchsia;
position: fixed;
left: 5vw;
right: 5vw;
text-align: center;
top: 45vh;
width: 90vw;
}
#ch1 {
position: fixed;
left: 5vw;
width: 12vw;
height: auto;
top: 35vh;
}
#ch2 {
position: fixed;
left: 25vw;
width: 12vw;
height: auto;
top: 35vh;
}
#ch3 {
position: fixed;
left: 45vw;
width: 12vw;
height: auto;
top: 35vh;
}
#ch4 {
position: fixed;
left: 65vw;
width: 12vw;
height: auto;
top: 35vh;
}
#ch5 {
position: fixed;
left: 85vw;
width: 12vw;
height: auto;
top: 35vh;
}
ch1 {
color: fuchsia;
position: fixed;
top: calc(12vw + 45vh);
left: 5vw;
width: 12vw;
font-size: 3vh;
text-align: center;
}
ch2 {
color: fuchsia;
position: fixed;
top: calc(12vw + 45vh);
left: calc(12vw + 13vw);
width: 12vw;
font-size: 3vh;
text-align: center;
}
ch3 {
color: fuchsia;
position: fixed;
top: calc(12vw + 45vh);
left: calc(12vw + 32.5vw);
width: 12vw;
font-size: 3vh;
text-align: center;
}
ch4 {
color: fuchsia;
position: fixed;
top: calc(12vw + 45vh);
left: calc(12vw + 52.5vw);
width: 12vw;
font-size: 3vh;
text-align: center;
}
ch5 {
color: fuchsia;
position: fixed;
top: calc(12vw + 45vh);
left: calc(12vw + 72.5vw);
width: 12vw;
font-size: 3vh;
text-align: center;
}
#panel1 {
position: fixed;
right: 20vw;
top: 80vh;
}
#panel2 {
position: fixed;
right: 5vw;
top: 80vh;
}
#setpic {
position: relative;
right: -70vw;
}
#tall {
height: auto;
}
